<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="52d84688-ec12-465f-a52a-efa251602e13" name="TestSuite 456" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="52d84688-ec12-465f-a52a-efa251602e13fileName">TestSuite-456</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
