<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c199ed10-e66c-4cb5-bb7f-c57804ed424d" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c199ed10-e66c-4cb5-bb7f-c57804ed424dfileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
